<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="title">
		<u><h3 style="color: blue">LISTA DE FAMILIARES:</h3></u>
	</div>

		{% for familiar in familiares %}
          <b>Nombre del familiar</b> :- {{familiar.nombre|capfirst}}<br>- 
          <b>Apellido</b> :- {{familiar.apellido|capfirst}}<br>-
          <b>Cuál es su altura? </b> :- {{familiar.altura}} cm <br>-
          <b>Nació en la fecha :</b> {{familiar.fecha_nacimiento}}.
			<br> <br>
		{% endfor %}
</body>
</html>